/*
maroon {
	color: rgb(70,0,0);
	background-color: #460000; 
}

navy {
	color: rgb(10,30,61);
	background-color: #0a1e3d;
}

gold {
	color: rgb(160,131,40);
	background-color: #a08328;
}
*/


.custom-navbar {
	background-color: #460000;
	color: rgb(10,30,61);
	position: fixed;
	z-index: 1;
}

html, body {
	height: 100%;

}

body {
	background-image: url(../nelly-volkovich-16093-unsplash.jpg) ;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: 100%;
}

.bg {
	height: 100%;
	overflow: hidden;
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
}

.bg1 {
	background-image: url(../nelly-volkovich-16093-unsplash.jpg) ;
	background-size: cover;
	background-position: center;
	height: 100%;
	overflow: hidden;
	
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
}

.bg2 {
	height: 100%;
	overflow: hidden;
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	background-color: #0a1e3d;
}

.bg3 {
	height: 100%;
	overflow: hidden;
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	background-color: #a08328;
}

.graph {
	padding: 20px;
	width: 100%;
}

.bar {
	background-color: #a08328;
	font-size: 20px;
	margin: 10px;
	padding: 8px;
}

.bar-20 {
	width: 20%;
}

.bar-30 {
	width: 30%;
}

.bar-40 {
	width: 40%;
}

.bar-50 {
	width: 50%;
}

.bar-60 {
	width: 60%;
}

.skill-level {
	float: right;
}


